* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.wrapper {
    width: 900px;
    margin: auto;
    font-family: 'Playfair Display', serif;
    color: #626262;
}

.nav {
    text-align: center;
    margin-bottom: 53px;
}

.list{
    list-style: none; 
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 50px;
}

a {
    text-decoration: none; 
    color: #626262;
}

a:hover {
    color: #03a9f4;  
}

.article {
    display: inline-block;
    width: 420px;
    margin-right: 56px;
    margin-bottom: 136px;
}

.article_item {
    margin-right: 0;
}

.article_last {
    margin-bottom: 0;
}

.alt {
    text-transform: uppercase;
    margin-top: 32px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
}

h2 {
    font-size: 30px;
    letter-spacing: -0.5px;
    margin-top: 36px;
}
.paragraph {
    font-size: 14px;
    margin-top: 44px;
    line-height: 1.714;
    text-align: left;
}

.button {
text-align: center;
height: 60px;
width: 164px;
font-size: 20px;
font-family: 'Playfair Display', serif;
color: #626262;
border: 2px solid #626262;
background: #ffffff;
margin: 57px 0 70px 0;
position: relative; 
left: 50%;
margin-left: -82px;
}


  